<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Mini Project 1 Blog</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <header>
        <h1>My Blog</h1>
        <p>Create and manage blog posts.</p>
    </header>

    <section class="create-post">  <!-- Create a new blog post -->

        <h2>Create New Post</h2>

        <form action="/create" method="POST">

            <input
                type="text"
                name="author"
                placeholder="Your Name"
                required>

            <input
                type="text"
                name="title"
                placeholder="Blog Title"
                required>

            <textarea
                name="content"
                placeholder="Write your blog post..."
                rows="6"
                required>
            </textarea>

            <button type="submit">
                Create Post
            </button>

        </form>

    </section>

    <section class="posts">

        <h2>All Posts</h2>

        <% if(posts.length === 0) { %>  <!-- checks if there are any posts first -->
            
            <p>No blog postings yet.</p>

        <% } else { %>
        
            <% posts.forEach(post => { %>

            <article class="post-card">

                <h3><%= post.title %></h3>

                <p>
                    <strong>Author:</strong>
                    <%= post.author %>
                </p>

                <p>
                    <strong>Created:</strong>
                    <%= post.createdAt %>
                </p>

                <p>
                    <%= post.content %>
                </p>

                    <!-- edit and delete buttons with respect to the used paths -->
                <a href="/edit/<%= post.id %>">
                    Edit
                </a>
                
                <form
                    action="/delete/<%= post.id %>"
                    method="POST">

                    <button type="submit">
                        Delete
                    </button>

                </form>

            </article>
            <% }) %>
        <% } %>
    </section>

</body>
</html>



